.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    transition: 0.20s ease-in-out;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.listagem .pokemon:hover {transition: 0.10s ease-in-out;
    transform: scale(0.90);
}
/* .listagem .pokemon .color:hover{transition: 0.20s ease-in-out;
    background:#53a7ea; */



   
     
 





.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 30px;
}

.listagem .pokemon.ativo {
    background-color: #21d691;
}
